.ButtonTextFieldInput
{
	display: inline;
	float: left;
}


/*#images-view .x-panel-body {*/
#images-view {
background:white none repeat scroll 0;
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
#images-view .thumb {
background:#DDDDDD none repeat scroll 0;
padding:3px;

height:60px;
width:80px;

text-align: center;

overflow: hidden;
}

#images-view .thumb img {
/*height:60px;
width:80px;
*/
	margin: 0 auto;
	display: block;
	text-align: center;
}

#images-view .thumb-wrap {
float:left;
margin:4px 0 4px 4px;
padding:5px;
}
#images-view .thumb-wrap span {
	width: 80px;
display:block;
overflow:hidden;
text-align:center;
white-space: nowrap;
}

#images-view .x-view-over {
background:#EFEFEF repeat-x scroll left top;
border:1px solid #DDDDDD;
padding:4px;
}
#images-view .x-view-selected {
background:#EFF5FB no-repeat scroll right bottom;
border:1px solid #99BBE8;
padding:4px;
}


/*
#images-view .x-view-over {
background:#EFF5FB no-repeat scroll right bottom;
border:1px solid #99BBE8;
padding:4px;
}

#images-view .x-view-over {
background:#EFEFEF url(../../resources/images/default/grid/row-over.gif) repeat-x scroll left top;
border:1px solid #DDDDDD;
padding:4px;
}
#images-view .x-view-selected {
background:#EFF5FB url(images/selected.gif) no-repeat scroll right bottom;
border:1px solid #99BBE8;
padding:4px;
}

#images-view .x-view-selected .thumb {
background:transparent none repeat scroll 0;
}
*/
#images-view .loading-indicator {
background-image:url(loading.gif);
background-position:left center;
background-repeat:no-repeat;
font-size:11px;
margin:10px;
padding-left:20px;
}


.btn-float-left
{
	float: left;
	margin-right: 3px;
}
